#calc {
	width: 350px;
	height: auto;

	background: #05B8CC;
  padding: 20px;
  overflow: hidden;
}

#display{
  height: 40px;
  width: 300px;
  padding: 10px;
	font-weight: bold;

  background-color: #FFFFFF;
  text-align: right;
}

.buttons{
  position: relative;
  float: left;
  height: 40px;
  width: 60px;
  top: 0;
  color: #000000;
  background-color: #ff0000;
  padding: 10px;

	text-align: center;
}

.buttons:hover{
  background-color: #0000ff;
}
